<%- include("partials/header", {title: "Bot List" }); %>
<section>
<div class="container">
  <div class="row" id="bots"></div>
</div>
</section>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
      $.get("http://localhost/api/getall", {
      },
      (data, status) => {
        var to_append = "";
        data.forEach(bot => {
          $.get(`http://localhost/api/getbot/${bot.id}`, {},(bot_data, status) => {
          to_append = `
                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card">
                <center><img class="card-img-top" style="width:100px;height:100px;" src="https://cdn.discordapp.com/avatars/${bot.id}/${bot_data[0].avatar}.png" /></center>
                    <div class="card-body">
                        <h3 class="card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">${bot.name}</h3>
                        <h5 class="card-sub-title" style="font-family: Antic, sans-serif;color: #7289da;">${bot.tags.join(' - ')}</h5>
                        <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(114, 137, 218);"></p>
                        <p id="lorem">${bot.short_desc}</p>
                        <a href='/bot/${bot.id}' class="btn btn-outline-info" style="font-weight: normal;font-family: Antic, sans-serif;">Ver</a>&nbsp;
                        <a href='https://discord.com/oauth2/authorize?client_id=${bot.id}&scope=bot&permissions=8' class="btn btn-outline-info" target="_blank" style="font-weight: normal;font-family: Antic, sans-serif;">Invitar</a></div>
                </div>
            </div>`;
          $('#bots').append(to_append).fadeIn('slow');
          }).fail(() => {
            alert('error');
          })
        });
      }).fail(() => {
        alert('error');
      })  
</script>
